.dropdown-content {
    box-sizing: border-box;
    z-index: 1;
    padding: 8px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    .input {
        width: 150px;
        margin-bottom: 8px;
        display: block;
        padding: 8px;
        border: 1px solid #d9d9d9;
    }
    .autoContainer {
        margin-bottom: 20px;
        padding-left: 5px;
        .option {
            margin-bottom: 10px;
        }
    }
    .search {
        display: flex;
        .button {
            cursor: pointer;
            padding: 4px 8px;
            width: 80px;
            border: 1px solid #d9d9d9;
            &.btn-search {
                color: #fff;
                background-color: #40a9ff;
                border-color: #40a9ff;
                margin-right: 8px;
            }
        }
    }
}